.main-nav {
  display: flex;

  justify-content: space-between;
  padding: 10px;
  align-items: center;

}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.left-nav > ul > li {
  font-family: sans-serif;
  margin-right: 15px;
  padding: 1px 3px;
  border-radius: 1px;
}

.right-nav > ul > li {
  font-family: sans-serif;
  margin-right: 1px;

}

.right-nav > ul > li:last-of-type {
  font-size: 15px;
  padding: 1px 3px;
  border-radius: 1px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}

.left-nav span {

}


.right-nav i {

}
