.sections-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
}

.sections-nav ul {
  display: flex;
}

.sections-nav ul li {
  display: flex;
  margin: 5px 8px;
}

.sections-nav ul li a:hover {
  background-color: $light-gray;
  text-decoration: none;
}
